body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.nav_container{
    display:flex;
    justify-content: space-between;
    color: rgb(86, 87, 86);
    margin:0;
    max-height: 7vh;
}
.nav_itemlist{
    padding:0px;
    margin:0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-weight: 500;
}
.nav_item{
    margin:0 10px;
    margin-top:2vh;
    cursor: pointer;
}
.nav_button{
    outline: none;
    background-color:#02a159;
    border:none;
    cursor: pointer;
    padding: 0px 30px;
    color:white;
    font-size: 0.95em;
    border-radius: 2px;
    transition: background 0.2s;
}
.nav_button:hover{
    background-color: rgba(2, 161, 89, 0.8)
}
.mainpage{
    display:grid;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    margin:0px;
}
.c1{
    background-image: url('../pictures/bghouse.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:80vh;
    width: 100vw;
}
.homefinder{
    position:absolute;
    top: 30%;
    left:20%;
    background-color: rgba(23, 2, 82,0.8);
    padding: 40px 100px 0px 30px;
    color:white;
    border-radius: 10px;
}
.homelink{
    display: inline-block;
    position: relative;
    margin-bottom:0px;
    text-decoration: none;
    font-size: 0.9em;
    margin-right: 10px;
    font-weight: 100;
    padding-bottom:10px;
}
.homelinkbtn{
    padding: 13px 20px;
    font-size: 0.8em;
    margin-bottom: 0;
    background: none;
    color:white;
    border:none;
    margin-top:10px;
    margin-right:10px;
    transition: background 0.3s, color 0.3s;
}
.hoverer{
    display:none;
    padding: 20px 10px;
}

.homelink:hover .hoverer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.2);
}

.homelink:hover .homelinkbtn{ 
    background-color: white;
    color:rgba(26, 185, 196,1)
}

.onlyselector{
    margin-right:20px;
    border-color:rgba(0,0,0,0.5);
    border-radius:10px;
    padding: 5px;
    outline:none;
    background-image: url();
    color: rgb(86, 87, 86);
}
.search{
    background: rgba(15, 214, 101,1);
    border:none;
    border-radius:20px;
    outline:none;
    cursor: pointer;
    color:white;
    padding: 10px 20px;
    transition: background 0.3s;
}
.search:hover{
    background-color: rgba(12, 173, 82,1);
}

.c2{
    width:80%;
    margin: auto;
    padding-bottom:40px;
}
.sampleboxes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
    width:25vw;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
}
.box img{
    height:23vh;
    width:100%;
}
